<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="we post on-demand jobs in Osun state Nigeria">
    <meta name="keywords" content="Jobs, openings, job openings, work, internship, recruitment">

    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/recruiter/recruiter_profile.css') }}">

    <title>@username - Profile</title>
</head>
<body>
      <div class="site">
            {% include 'header.html' %}
            <main>
                  <div class="body_container">
                        <div class="cover_image">
                              <img src="{{ url_for('static', filename='images/demo_cover.jpg') }}" alt="user_cover_picture">
                        </div>
                        <div class="info">
                              <div class="profile_picture">
                                    <img src="{{ url_for('static', filename='images/image1.jpg') }}" alt="user_profile_picture">
                              </div>
                              <div class="profile_action">
                                    <a href="#" class="primary_action"><button type="button"><i class="ri-notification-2-line"></i></button></a>
                                    <!-- <a href="#" class="action"><button type="button"><i class="ri-notification-2-line"></i>Follow</button></a> -->
                                    <a href="#" class="action"><button type="button"><i class="ri-quill-pen-line"></i>Edit profile</button></a>
                              </div>
                        </div>
                        <div class="bio">
                              <h3 class="fullname">John Shaibu</h3>
                              <div class="user_bio">
                                    <p>
                                          Ea esse eu nostrud minim in aute. Sint amet officia veniam adipisicing pariatur. 
                                          Pariatur ut incididunt irure sint.
                                          Scelerisque egestas ut id diam. Amet nibh metus adipiscing lacinia 
                                          eu a sit amet consectetu.
                                    </p>
                              </div>
                              <div class="contact">
                                    <h5>Contact</h5>
                                    <div>
                                          <span><i class="ri-at-line"></i><span>username</span></span>
                                          <span><i class="ri-mail-line"></i><a href="mailto:">user@domain.com</a></span>
                                    </div>
                                    <div>
                                          <span><i class="ri-phone-line"></i><span>+2348022332333</span></span>
                                          <span><i class="ri-map-pin-2-line"></i><span>Osogbo, Osun state</span></span>
                                    </div>
                                    <div>
                                          <span><i class="ri-global-line"></i><a href="#">johnshaibu.com</a></span>
                                    </div>
                              </div>
                              <div class="posted_jobs">
                                    <h5>Posted Jobs</h5>
                                    <table>
                                          <thead>
                                                <tr>
                                                      <th>Title</th>
                                                      <th>Role</th>
                                                      <th>Deadline</th>
                                                </tr>
                                          </thead>
                                          <tbody>
                                                <tr>
                                                      <td>Product Designer</td>
                                                      <td>Backend engineer</td>
                                                      <td>Ui Ux Designer</td>
                                                </tr>
                                                <tr>
                                                      <td>Product Designer</td>
                                                      <td>Backend engineer</td>
                                                      <td>Ui Ux Designer</td>
                                                </tr>
                                                <tr>
                                                      <td>Product Designer</td>
                                                      <td>Backend engineer</td>
                                                      <td>Ui Ux Designer</td>
                                                </tr>
                                          </tbody>
                                    </table>
                              </div>
                        </div>
      
                  </div>
            </main>
      </div>      
</body>
</html>