<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="we post on-demand jobs in Osun state Nigeria">
      <meta name="keywords" content="Jobs, openings, job openings, work, internship, recruitment">
      <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
      <link rel="stylesheet" href="../../static/styles/password.css">
      <title>HotOsunJobs - Create password</title>
</head>
<body>
      <div class="site">
            <div class="container">
                  <div class="logo"><a href="#">hotJobsng</a></div>
                  <p>Create a strong password to secure your account</p>
                  {% for message in get_flashed_messages() %}
                        <div class="flash">{{ message }}</div>
                  {% endfor %}
                  <form method="post">
                        <div>
                              <label for="password1">Password</label>
                              <input type="password" name="password1" id="password1" minlength="8" placeholder="--------" required autofocus>
                              <i class="ri-eye-line" id="togglePassword"></i>
                        </div>
                        <div>
                              <label for="Password2">Confirm password</label>
                              <input type="password" name="password2" id="password2" minlength="8" placeholder="--------" required>
                              <span id="info"><i class="ri-information-fill"></i><span>Password does not match.</span></span>
                        </div>
                        <div class="submit">
                              <input type="submit" value="Create account">
                        </div>
                        <script>
                              let passwordInput1 = document.getElementById('password1');
                              let togglePassword = document.getElementById('togglePassword');
                              let passwordInput2 = document.getElementById('password2');
                              let mismatchInfo = document.getElementById('#info')

                              togglePassword.addEventListener('click', () => {
                                    let passwordInputAttribute = passwordInput1.getAttribute('type');
                                    // console.log(passwordInputAttribute);
                                    if(passwordInputAttribute == 'password'){
                                          passwordInput1.setAttribute('type', 'text');
                                          togglePassword.setAttribute('class', 'ri-eye-close-line');
                                    } else {
                                          passwordInput1.setAttribute('type', 'password');
                                          togglePassword.setAttribute('class', 'ri-eye-line');
                                    }
                              });
                              
                              passwordInput2.addEventListener('change', () => {
                                    if (passwordInput2.value != passwordInput1.value){
                                          console.log('mismatch');
                                          if (mismatchInfo.style.display == 'none'){
                                                mismatchInfo.style.display = 'block';
                                          }
                                    } else if (passwordInput2.value == passwordInput1.value){
                                          console.log('matched!!');
                                          mismatchInfo.style.display = 'none';
                                    }
                              })
                              passwordInput2.addEventListener('blur', () => {
                                    if (passwordInput2.value == passwordInput1.value){
                                          mismatchInfo.style.display = 'none';
                                    }
                              })


                        </script>
                  </form>
            </div>           
      </div>
</body>
</html>