<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="we post on-demand jobs in Osun state Nigeria">
      <meta name="keywords" content="Jobs, openings, job openings, work, internship, recruitment">
      <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
      <link rel="stylesheet" href="../../static/styles/validation.css">
      <title>HotOsunJobs - verification</title>
</head>
<body>
      <div class="site">
            <div class="container">
                  <div class="logo"><a href="#">hotJobsng</a></div>
                  <p>Verify your account</p>
                  {% for message in get_flashed_messages() %}
                        <div class="flash">{{ message }}</div>
                  {% endfor %}
                  <form method="post" autocomplete="off">
                        <p>A six digit code has been sent to <span>{{ email }}. </span>Enter code in the box below to Verify your account.</p>
                        <div>
                              <!-- <label for="Password" class="forgotten">OTP</label> -->
                              <input type="text" name="otp" id="#" placeholder="------" autofocus required maxlength="6" minlength="6">
                              <span style="display: none;">Input must be a number</span>
                        </div>
                        <p>Didn't receive any code <a href="{{ url_for('auth.login') }}" target="_self">Resend code</a></p>
                        <div class="submit">
                              <input type="submit" value="Verify account">
                        </div>
                        <p>Already a member <a href="{{ url_for('auth.login') }}" target="_self">Login</a></p>
                  </form>
            </div>
                  
      </div>
</body>
</html>