<footer>
      <div class="company-logo">
          <a href="#"><i class="ri-bubble-chart-fill"></i></a>
          <span>&copy; Copyright 2022</span>
      </div>
      <div class="terms">
          <a href="#" target="_blank" rel="noopener noreferrer">
              Terms & Condition
          </a>
          <a href="#" target="_blank" rel="noopener noreferrer">
              Enquiry
          </a>
          <a href="#" target="_blank" rel="noopener noreferrer">
              Privacy Policy
          </a>
      </div>
</footer>