<header>
<form action="#" method="get">
      <input type="search" name="search" id="#" placeholder="Search">
      <button type="submit"><i class="ri-search-line"></i></button>
</form>
<ul>
      <li class="notification"><a href="#"><i class="ri-notification-4-line"></i></a></li>
      <li class="profile">
            <div class="avatar"><img src="../../static/images/image1.jpg" alt="user-avatar"></div>
            <div class="name">
                  <strong>Johnbaba</strong>
                  <span>admin</span>
            </div>
      </li>
</ul>
</header>